.button {
    -fx-background-color: #607D8B;
    -fx-border-color: #607D8B;
    -fx-border-radius: 2;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #455A64;
    -fx-border-color: #BDBDBD;
    -fx-text-fill: #FFFFFF;
}

.pane {
    -fx-background-color: #CFD8DC;
    -fx-border-color: #BDBDBD;
}

.table-view {
    -fx-background-color: #CFD8DC;
    -fx-border-color: #BDBDBD;
}

.table-column {
    -fx-background-color: #CFD8DC;
    -fx-border-color: #BDBDBD;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;

    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}