.button {
    -fx-background-color: #607D8B;
    -fx-border-color: #607D8B;
    -fx-border-radius: 2;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #455A64;
    -fx-border-color: #BDBDBD;
    -fx-text-fill: #FFFFFF;
}

.pane {
    -fx-background-color: #CFD8DC;
    -fx-border-color: #BDBDBD;
}